## プロジェクトの説明
このプロジェクトは職務経歴書のサポートをするアプリケーションです。
ユーザーは職務経歴情報を入力したあと、プレビューモードに切り替えページを印刷して職務経歴書を作成します。

このプロジェクトは以下の機能を含みます。
- 職務経歴入力機能
- プレビュー機能
- 入力内容の自動保存（localStorage に保存）

入力内容は以下の通りです。
- 氏名
- 職務要約
- 得意とする分野・スキル
- PCスキル/テクニカルスキル
- 職務経歴
- 資格
- 自己PR

## 回答時のルール
回答時は以下のルールを遵守すること。
- すべて日本語で回答すること

## コーディングルール
以下のコーディングルールを遵守すること。
- 関数の定義にはアロー関数を使うこと
- 関数には JSDOC を記載すること
- 関数やカスタムフックは戻り値型を指定すること
- 型指定は type を使用すること
- let は使用せず、必ず const を使うこと
- オブジェクトの再代入や配列の追加、削除はしないこと
- 可読性、メンテナンス性を考慮したコードとすること
- type assertion は使用しないこと
- any の使用を強く禁止する
- 特に `as any` は絶対に使用しないこと
- 文字列の結合にはテンプレート構文を使用すること
